.ab{
  margin-left: 500px;
  width: 40px;
  position:  absolute;
 
}

.ba{
  position: relative;
  top: -18px;
  left: 500px;
  color: red;
  font-size: larger;
 
}
.cc{
  box-shadow: 1px 1px 5px ;
}
