form{
  margin: 7% auto;
  background: linear-gradient(to right, rgba(222, 235, 108, 0.6), #fff , rgb(227, 147, 10));
  background-image: url('https://img.freepik.com/free-vector/overlapping-forms-background-design_52683-44629.jpg');
}